

body{
  margin: 0px;
  width: 100vw;
  height: 100vh;
}
#root{
  height: 100%;
}
.map{
  height: 750px;

}

.add-station-form{
  z-index: 999;
  position: absolute;
  top: 10px;
  right: 10px;

}
.search-form{
  z-index: 999;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20%;
  background: rgb(113, 116, 113);
  color: rgb(45, 55, 66);

}
.StationList{
  z-index: 999;
  position: absolute;
  top: 10%;
  left: 30px;
  
  width: 12%;
}
#StationList{
  background-color: khaki;
}
.toggle{
  z-index: 999;
  position: absolute;
  top: 10px;
  left: 50%;


}
.update-station-form{
  z-index: 999;
  position: absolute;
  top: 10px;
  right: 10px;

}
.chart{
 
  width: 44%;
  height: 39%;
  position: absolute;
  z-index: 999;
  top: 10%;
  left: 15%;
  /* background-color: ivory; */

}
.btn{
  border-radius: 1.25rem;
}
.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 1.25rem; /* kenarlari yuvarlatiyo*/
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}